@model SportShopAPI.Models.Product
@{
    Layout = "_Layout"; ViewBag.Title = "Update a Product";
}

<h2>Update a Product <a asp-action="Product" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="IdProduct"></label>
        <input class="form-control" asp-for="IdProduct" readonly />
    </div>
    <div class="form-group">
        <label for="Name">Product_Name:</label>
        <input class="form-control" name="ProductName" />
    </div>
     <div class="form-group">
        <label for="Name">Product_Cost:</label>
        <input class="form-control" name="ProductCost" />
    </div>
     <div class="form-group">
        <label for="Name">Manufacture_Id:</label>
        <input class="form-control" name="ManufactureId" />
    </div>
    <div class="form-group">
        <label for="Name">Product_Type_Id:</label>
        <input class="form-control" name="ProductTypeId" />
    </div>
   
    <div class="form-group">
        <label for="Name">Image:</label>
        <input class="form-control" name="Image" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
    @if (Model != null)
    {
        <h2>User</h2>
        <table class="table table-sm table-striped table-bordered m-2">
            <thead>
                <tr>
                    <th>ID</th>
                <th>ProductName</th>
                <th>ProductTypeId</th>
                <th>ManufactureId</th>
                
                <th>ProductCost</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.IdProduct</td>
                <td>@Model.ProductName</td>
                <td>@Model.TypeProductId</td>
                <td>@Model.ManufactureId</td>
                <td>@Model.ProductCost</td>
                <td>@Model.Image</td>
                </tr>
            </tbody>
        </table>
    }
}